div {
    margin: 40px;
    font-size: 40px;
    color: rgb(208,148,234);
	background-image: url("");
	 width: 100px;
	
    height: 5em;

}
body{
background-color: pink;
  max-width: 600px;
}
p{ 
margin: 15px;
fontsice: 16px;
font-family: "arial 16px italic";
}
body {
    
    font-family: Harlow ;
    font-size: 16px;
    font-style: Solid Italic;
    font-weight: bolder;
	border-color: black ;
	width: 900px;
	margin: 5px;
}
li{ color: black;

  }

ul {
font-size: 12px;
	color: red;
}
footer { background-color: grey;}












